<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item></ion-item>
    <ion-item></ion-item>
    <ion-item>
      <ion-input [(ngModel)]="visor"></ion-input>
    </ion-item>
    <ion-item>
      <ion-fab-button class="button-gray">AC</ion-fab-button>
      <ion-fab-button class="button-gray">+/-</ion-fab-button>
      <ion-fab-button class="button-gray">%</ion-fab-button>
      <ion-fab-button class="button-orange">+</ion-fab-button>
    </ion-item>
    <ion-item>
      <ion-fab-button (click)="adicionarNumero('7')" adicionarNumero()>7</ion-fab-button>
      <ion-fab-button (click)="adicionarNumero('8')">8</ion-fab-button>
      <ion-fab-button (click)="adicionarNumero('9')">9</ion-fab-button>
      <ion-fab-button class="button-orange">X</ion-fab-button>
    </ion-item>
    <ion-item>
      <ion-fab-button>4</ion-fab-button>
      <ion-fab-button>5</ion-fab-button>
      <ion-fab-button>6</ion-fab-button>
      <ion-fab-button class="button-orange">-</ion-fab-button>
    </ion-item>
    <ion-item>
      <ion-fab-button>1</ion-fab-button>
      <ion-fab-button>2</ion-fab-button>
      <ion-fab-button>3</ion-fab-button>
      <ion-fab-button class="button-orange">+</ion-fab-button>
    </ion-item>
    <ion-item>
      <ion-fab-button id="zero">0</ion-fab-button>
      <ion-fab-button>,</ion-fab-button>
      <ion-fab-button class="button-orange">=</ion-fab-button>
    </ion-item>
  </ion-list>
</ion-content>
